<html>
<head>
  <meta charset="UTF-8" />
  <title>فلسطين</title>
</head>

  <body>

  <header>
   شكرا
  </header>


<div class = "main-content clearfix">
    <div class = "manu-content">
       <ul>
        <h2>科目</h2>
        <li>アラビア語</li>
        <li>英語</li>
        <li>算数</li>
        <li>社会</li>
        <li>理科</li>
      </ul>
    </div>

    <div class = "right-content">
      <div class = "upper-content">
          <p>タイトル</p>
      </div>
      <div class = "under-content">
      <li>
       <%= link_to "タイトル1", "/articles/16", class: 'get' %>
      </li>
      <li>
       <%= link_to "タイトル2", "/articles/22", class: 'get' %>
      </li>
          </div>
     </div>
    </div>
  </div>
</div>


  <footer >
  </footer>

  </body>

</html>